<script src="/common/jquery.js"></script>
<script src="/common/opr.js"></script>
<script src="/userdata.js"></script>

<body>
	选择分区：
	<select id=zone>
		{{range .}}
			<option value={{.Name}}>{{.ShowName}}</option>
		{{end}}
	</select>
	<a id=zonelist>
		{{range .}}
			<select id={{.Name}}>
				{{range .AreaID}}
					<option value={{.}}>{{.}}区</option>
				{{end}}
			</select>
		{{end}}
	</a>
	<button id=commit>确定</button></p><hr>
	<h4 id=info></h4></p>
	<div id=search hidden>
		<div id=pageinfo page={{.}}></div></p>
		按页搜索：<input id=pageinput /><button id=searchpage>搜索</button>
		搜索ID：<input id=idinput /><button id=searchid>搜索</button>
		搜索IMEI：<input id=imeiinput /><button id=searchimei>搜索</button><hr>
	</div>
	<div id=data></div>
</body>